<section class="main-body container-fluid">
  <div class="container top-products">
    <h2>Top Products</h2>
    <p>To add desired products to the cart, simply drag a product image to the cart icon found at the top right of the page.</p>
    <div class="products-listing">

      <div class="product-item">
        <div class="img-container">
          <img id="product1" src="../assets/flower-1.png" alt="sunflower melody" />
        </div>
        <div class="name">Sunflower Melody</div>
        <div class="price">$30.00</div>
        <select class="quantity">
            <option value ="1">1</option>
            <option value ="2">2</option>
            <option value ="3">3</option>
            <option value ="4">4</option>
            <option value ="5">5</option>
            <option value ="6">6</option>
        </select>
      </div>

      <div class="product-item">
        <div class="img-container">
          <img id="product2" src="../assets/flower-2.png" alt="Spring Mix" />
        </div>
        <div class="name">Spring Mix</div>
        <div class="price">$35.00</div>
        <select class="quantity">
              <option value ="1">1</option>
              <option value ="2">2</option>
              <option value ="3">3</option>
              <option value ="4">4</option>
              <option value ="5">5</option>
              <option value ="6">6</option>
          </select>
      </div>

      <div class="product-item">
        <div class="img-container">
          <img id="product3" src="../assets/flower-3.png" alt="Colorful Arangement" />
        </div>
        <div class="name">Colorful Arangement</div>
        <div class="price">$40.00</div>
        <select class="quantity">
                <option value ="1">1</option>
                <option value ="2">2</option>
                <option value ="3">3</option>
                <option value ="4">4</option>
                <option value ="5">5</option>
                <option value ="6">6</option>
            </select>
      </div>

      <div class="product-item">
        <div class="img-container">
          <img id="product4" src="../assets/flower-4.png" alt="Tulip Season" />
        </div>
        <div class="name">Tulip Season</div>
        <div class="price">$50.00</div>
        <select class="quantity">
          <option value ="1">1</option>
          <option value ="2">2</option>
          <option value ="3">3</option>
          <option value ="4">4</option>
          <option value ="5">5</option>
          <option value ="6">6</option>
      </select>
      </div>

    </div>
  </div>
</section>