<footer class="container-fluid">
  <div class="container">
    <nav class="footer-category">
      <h5 class="footer-title">Get to know us</h5>
        <ul>
          <li><a href="/aboutus">About Us</a></li>
          <li><a href="/careers">Careers</a></li>
          <li><a href="/media">Media</a></li>
          <li><a href="/security">Security & Privacy</a></li>
        </ul>
    </nav>
    <nav class="footer-category">
      <h5>Learn more about</h5>
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/florist">Find a Florist</a></li>
        <li><a href="/tips">Floral Tips & Inspiration</a></li>
        <li><a href="/sitemap">Sitemap</a></li>
      </ul>
    </nav>
    <nav class="footer-category">
      <h5>Shop Vicky's</h5>
      <ul>
        <li><a href="/sameday">Same-Day Flower Delivery</a></li>
        <li><a href="/birthdayflowers">Birthday Flowers</a></li>
        <li><a href="/sympathy">Funeral & Sympathy Flowers</a></li>
        <li><a href="/international">International Flower Delivery</a></li>
      </ul>
    </nav>
  </div>
</footer>