@import 'variables';
@import 'header';
@import 'footer';
body {
    color: $primary-color;
    font-family: $font-stack;
    max-width: $page-width;
    margin: 0 auto;
    font-weight: $font-weight-normal;
}

a {
    color: $white;
}

a:hover {
    color: $pink;
    text-decoration: none;
}